# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Intellij IDEA project directory
.idea
/.scala-build/
.DS_Store

# Ignore VSCode extension directory
.bloop/
.metals/
.vscode/